<div class="row">
  <div class="col-md-8">
    <div class="row">
      <p>Your Recent Activity</p>
    </div>
    <div class="row">
      <p>Followed Recent Activity</p>
    </div>
  </div>
  <div class="col-md-4" style="background">
    <p><%= "Starred Repos (#{@user_info[:starred_repos]})" %></p>
    <p><%= "Followers (#{@user_info[:followers]})" %></p>
    <p><%= "Following (#{@user_info[:following]})" %></p>
  </div>
</div>
