---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/commits?per_page=10&q=author:MikelSage&sort=author-date
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 1555a27dc3f3f26e575984ff640c6186110f125c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1503608934'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bc2fe2fa59491eb90d96
      X-Github-Media-Type:
      - github.cloak-preview
      Link:
      - <https://api.github.com/search/commits?per_page=10&q=author%3AMikelSage&sort=author-date&page=2>;
        rel="next", <https://api.github.com/search/commits?per_page=10&q=author%3AMikelSage&sort=author-date&page=37>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":369,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/MikelSage/api_curious/commits/8d597829611289dbefac601fef9eb7e3efd6970b","sha":"8d597829611289dbefac601fef9eb7e3efd6970b","html_url":"https://github.com/MikelSage/api_curious/commit/8d597829611289dbefac601fef9eb7e3efd6970b","comments_url":"https://api.github.com/repos/MikelSage/api_curious/commits/8d597829611289dbefac601fef9eb7e3efd6970b/comments","commit":{"url":"https://api.github.com/repos/MikelSage/api_curious/git/commits/8d597829611289dbefac601fef9eb7e3efd6970b","author":{"date":"2017-08-24T14:30:31.000-06:00","name":"Michael
        Sagapolutele","email":"michael.sagapolutele@yahoo.com"},"committer":{"date":"2017-08-24T14:30:31.000-06:00","name":"GitHub","email":"noreply@github.com"},"message":"Merge
        pull request #5 from MikelSage/user-stats\n\nUser stats: Closes #4","tree":{"url":"https://api.github.com/repos/MikelSage/api_curious/git/trees/ea8f3cbb31f1d9f54fb229019653d2b7f3a783a1","sha":"ea8f3cbb31f1d9f54fb229019653d2b7f3a783a1"},"comment_count":0},"author":{"login":"MikelSage","id":26507085,"avatar_url":"https://avatars0.githubusercontent.com/u/26507085?v=4","gravatar_id":"","url":"https://api.github.com/users/MikelSage","html_url":"https://github.com/MikelSage","followers_url":"https://api.github.com/users/MikelSage/followers","following_url":"https://api.github.com/users/MikelSage/following{/other_user}","gists_url":"https://api.github.com/users/MikelSage/gists{/gist_id}","starred_url":"https://api.github.com/users/MikelSage/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikelSage/subscriptions","organizations_url":"https://api.github.com/users/MikelSage/orgs","repos_url":"https://api.github.com/users/MikelSage/repos","events_url":"https://api.github.com/users/MikelSage/events{/privacy}","received_events_url":"https://api.github.com/users/MikelSage/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"url":"https://api.github.com/repos/MikelSage/api_curious/commits/17b7a998387250a8fbe6bda83ab4903dc8b4fca5","html_url":"https://github.com/MikelSage/api_curious/commit/17b7a998387250a8fbe6bda83ab4903dc8b4fca5","sha":"17b7a998387250a8fbe6bda83ab4903dc8b4fca5"},{"url":"https://api.github.com/repos/MikelSage/api_curious/commits/e9fb832346e3f1624be2de80e8f5f6c8f1d1e92c","html_url":"https://github.com/MikelSage/api_curious/commit/e9fb832346e3f1624be2de80e8f5f6c8f1d1e92c","sha":"e9fb832346e3f1624be2de80e8f5f6c8f1d1e92c"}],"repository":{"id":101002421,"name":"api_curious","full_name":"MikelSage/api_curious","owner":{"login":"MikelSage","id":26507085,"avatar_url":"https://avatars0.githubusercontent.com/u/26507085?v=4","gravatar_id":"","url":"https://api.github.com/users/MikelSage","html_url":"https://github.com/MikelSage","followers_url":"https://api.github.com/users/MikelSage/followers","following_url":"https://api.github.com/users/MikelSage/following{/other_user}","gists_url":"https://api.github.com/users/MikelSage/gists{/gist_id}","starred_url":"https://api.github.com/users/MikelSage/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikelSage/subscriptions","organizations_url":"https://api.github.com/users/MikelSage/orgs","repos_url":"https://api.github.com/users/MikelSage/repos","events_url":"https://api.github.com/users/MikelSage/events{/privacy}","received_events_url":"https://api.github.com/users/MikelSage/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/MikelSage/api_curious","description":null,"fork":false,"url":"https://api.github.com/repos/MikelSage/api_curious","forks_url":"https://api.github.com/repos/MikelSage/api_curious/forks","keys_url":"https://api.github.com/repos/MikelSage/api_curious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/MikelSage/api_curious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/MikelSage/api_curious/teams","hooks_url":"https://api.github.com/repos/MikelSage/api_curious/hooks","issue_events_url":"https://api.github.com/repos/MikelSage/api_curious/issues/events{/number}","events_url":"https://api.github.com/repos/MikelSage/api_curious/events","assignees_url":"https://api.github.com/repos/MikelSage/api_curious/assignees{/user}","branches_url":"https://api.github.com/repos/MikelSage/api_curious/branches{/branch}","tags_url":"https://api.github.com/repos/MikelSage/api_curious/tags","blobs_url":"https://api.github.com/repos/MikelSage/api_curious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/MikelSage/api_curious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/MikelSage/api_curious/git/refs{/sha}","trees_url":"https://api.github.com/repos/MikelSage/api_curious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/MikelSage/api_curious/statuses/{sha}","languages_url":"https://api.github.com/repos/MikelSage/api_curious/languages","stargazers_url":"https://api.github.com/repos/MikelSage/api_curious/stargazers","contributors_url":"https://api.github.com/repos/MikelSage/api_curious/contributors","subscribers_url":"https://api.github.com/repos/MikelSage/api_curious/subscribers","subscription_url":"https://api.github.com/repos/MikelSage/api_curious/subscription","commits_url":"https://api.github.com/repos/MikelSage/api_curious/commits{/sha}","git_commits_url":"https://api.github.com/repos/MikelSage/api_curious/git/commits{/sha}","comments_url":"https://api.github.com/repos/MikelSage/api_curious/comments{/number}","issue_comment_url":"https://api.github.com/repos/MikelSage/api_curious/issues/comments{/number}","contents_url":"https://api.github.com/repos/MikelSage/api_curious/contents/{+path}","compare_url":"https://api.github.com/repos/MikelSage/api_curious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/MikelSage/api_curious/merges","archive_url":"https://api.github.com/repos/MikelSage/api_curious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/MikelSage/api_curious/downloads","issues_url":"https://api.github.com/repos/MikelSage/api_curious/issues{/number}","pulls_url":"https://api.github.com/repos/MikelSage/api_curious/pulls{/number}","milestones_url":"https://api.github.com/repos/MikelSage/api_curious/milestones{/number}","notifications_url":"https://api.github.com/repos/MikelSage/api_curious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/MikelSage/api_curious/labels{/name}","releases_url":"https://api.github.com/repos/MikelSage/api_curious/releases{/id}","deployments_url":"https://api.github.com/repos/MikelSage/api_curious/deployments"},"score":17.994478},{"url":"https://api.github.com/repos/MikelSage/api_curious/commits/e9fb832346e3f1624be2de80e8f5f6c8f1d1e92c","sha":"e9fb832346e3f1624be2de80e8f5f6c8f1d1e92c","html_url":"https://github.com/MikelSage/api_curious/commit/e9fb832346e3f1624be2de80e8f5f6c8f1d1e92c","comments_url":"https://api.github.com/repos/MikelSage/api_curious/commits/e9fb832346e3f1624be2de80e8f5f6c8f1d1e92c/comments","commit":{"url":"https://api.github.com/repos/MikelSage/api_curious/git/commits/e9fb832346e3f1624be2de8[...]
