---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 1555a27dc3f3f26e575984ff640c6186110f125c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1503630130'
      Etag:
      - W/"99730d243ceda7788057b6e73a12c790"
      Last-Modified:
      - Mon, 21 Aug 2017 15:37:50 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bc2fe2fa59491eb90d96
      X-Github-Media-Type:
      - github.cloak-preview
    body:
      encoding: ASCII-8BIT
      string: '{"login":"MikelSage","id":26507085,"avatar_url":"https://avatars0.githubusercontent.com/u/26507085?v=4","gravatar_id":"","url":"https://api.github.com/users/MikelSage","html_url":"https://github.com/MikelSage","followers_url":"https://api.github.com/users/MikelSage/followers","following_url":"https://api.github.com/users/MikelSage/following{/other_user}","gists_url":"https://api.github.com/users/MikelSage/gists{/gist_id}","starred_url":"https://api.github.com/users/MikelSage/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikelSage/subscriptions","organizations_url":"https://api.github.com/users/MikelSage/orgs","repos_url":"https://api.github.com/users/MikelSage/repos","events_url":"https://api.github.com/users/MikelSage/events{/privacy}","received_events_url":"https://api.github.com/users/MikelSage/received_events","type":"User","site_admin":false,"name":"Michael
        Sagapolutele","company":null,"blog":"","location":null,"email":"michael.sagapolutele@yahoo.com","hireable":null,"bio":null,"public_repos":28,"public_gists":8,"followers":3,"following":3,"created_at":"2017-03-18T15:48:49Z","updated_at":"2017-08-21T15:37:50Z"}'
  recorded_at: Fri, 25 Aug 2017 02:03:55 GMT
- request:
    method: get
    uri: https://api.github.com/user/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 1555a27dc3f3f26e575984ff640c6186110f125c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1503630130'
      Etag:
      - W/"12707607b51b6ace14b9e13e8759b1b1"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bc2fe2fa59491eb90d96
      X-Github-Media-Type:
      - github.cloak-preview
    body:
      encoding: ASCII-8BIT
      string: '[{"id":99945754,"name":"scoots_shop","full_name":"jimszalew/scoots_shop","owner":{"login":"jimszalew","id":15232421,"avatar_url":"https://avatars0.githubusercontent.com/u/15232421?v=4","gravatar_id":"","url":"https://api.github.com/users/jimszalew","html_url":"https://github.com/jimszalew","followers_url":"https://api.github.com/users/jimszalew/followers","following_url":"https://api.github.com/users/jimszalew/following{/other_user}","gists_url":"https://api.github.com/users/jimszalew/gists{/gist_id}","starred_url":"https://api.github.com/users/jimszalew/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jimszalew/subscriptions","organizations_url":"https://api.github.com/users/jimszalew/orgs","repos_url":"https://api.github.com/users/jimszalew/repos","events_url":"https://api.github.com/users/jimszalew/events{/privacy}","received_events_url":"https://api.github.com/users/jimszalew/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/jimszalew/scoots_shop","description":null,"fork":true,"url":"https://api.github.com/repos/jimszalew/scoots_shop","forks_url":"https://api.github.com/repos/jimszalew/scoots_shop/forks","keys_url":"https://api.github.com/repos/jimszalew/scoots_shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jimszalew/scoots_shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jimszalew/scoots_shop/teams","hooks_url":"https://api.github.com/repos/jimszalew/scoots_shop/hooks","issue_events_url":"https://api.github.com/repos/jimszalew/scoots_shop/issues/events{/number}","events_url":"https://api.github.com/repos/jimszalew/scoots_shop/events","assignees_url":"https://api.github.com/repos/jimszalew/scoots_shop/assignees{/user}","branches_url":"https://api.github.com/repos/jimszalew/scoots_shop/branches{/branch}","tags_url":"https://api.github.com/repos/jimszalew/scoots_shop/tags","blobs_url":"https://api.github.com/repos/jimszalew/scoots_shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jimszalew/scoots_shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jimszalew/scoots_shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/jimszalew/scoots_shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jimszalew/scoots_shop/statuses/{sha}","languages_url":"https://api.github.com/repos/jimszalew/scoots_shop/languages","stargazers_url":"https://api.github.com/repos/jimszalew/scoots_shop/stargazers","contributors_url":"https://api.github.com/repos/jimszalew/scoots_shop/contributors","subscribers_url":"https://api.github.com/repos/jimszalew/scoots_shop/subscribers","subscription_url":"https://api.github.com/repos/jimszalew/scoots_shop/subscription","commits_url":"https://api.github.com/repos/jimszalew/scoots_shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/jimszalew/scoots_shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/jimszalew/scoots_shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/jimszalew/scoots_shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/jimszalew/scoots_shop/contents/{+path}","compare_url":"https://api.github.com/repos/jimszalew/scoots_shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jimszalew/scoots_shop/merges","archive_url":"https://api.github.com/repos/jimszalew/scoots_shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jimszalew/scoots_shop/downloads","issues_url":"https://api.github.com/repos/jimszalew/scoots_shop/issues{/number}","pulls_url":"https://api.github.com/repos/jimszalew/scoots_shop/pulls{/number}","milestones_url":"https://api.github.com/repos/jimszalew/scoots_shop/milestones{/number}","notifications_url":"https://api.github.com/repos/jimszalew/scoots_shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jimszalew/scoots_shop/labels{/name}","releases_url":"https://api.github.com/repos/jimszalew/scoots_shop/releases{/id}","deployments_url":"https://api.github.com/repos/jimszalew/scoots_shop/deployments","created_at":"2017-08-10T16:54:13Z","updated_at":"2017-08-23T05:36:27Z","pushed_at":"2017-08-03T16:04:17Z","git_url":"git://github.com/jimszalew/scoots_shop.git","ssh_url":"git@github.com:jimszalew/scoots_shop.git","clone_url":"https://github.com/jimszalew/scoots_shop.git","svn_url":"https://github.com/jimszalew/scoots_shop","homepage":null,"size":607,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}}]'
  recorded_at: Fri, 25 Aug 2017 02:03:55 GMT
- request:
    method: get
    uri: https://api.github.com/search/commits?per_page=10&q=author:MikelSage&sort=author-date
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 1555a27dc3f3f26e575984ff640c6186110f125c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
      - '1503626668'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bc2fe2fa59491eb90d96
      X-Github-Media-Type:
      - github.cloak-preview
      Link:
      - <https://api.github.com/search/commits?per_page=10&q=author%3AMikelSage&sort=author-date&page=2>;
        rel="next", <https://api.github.com/search/commits?per_page=10&q=author%3AMikelSage&sort=author-date&page=37>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":369,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/MikelSage/api_curious/commits/8d597829611289dbefac601fef9eb7e3efd6970b","sha":"8d597829611289dbefac601fef9eb7e3efd6970b","html_url":"https://github.com/MikelSage/api_curious/commit/8d597829611289dbefac601fef9eb7e3efd6970b","comments_url":"https://api.github.com/repos/MikelSage/api_curious/commits/8d597829611289dbefac601fef9eb7e3efd6970b/comments","commit":{"url":"https://api.github.com/repos/MikelSage/api_curious/git/commits/8d597829611289dbefac601fef9eb7e3efd6970b","author":{"date":"2017-08-24T14:30:31.000-06:00","name":"Michael
        Sagapolutele","email":"michael.sagapolutele@yahoo.com"},"committer":{"date":"2017-08-24T14:30:31.000-06:00","name":"GitHub","email":"noreply@github.com"},"message":"Merge
        pull request #5 from MikelSage/user-stats\n\nUser stats: Closes #4","tree":{"url":"https://api.github.com/repos/MikelSage/api_curious/git/trees/ea8f3cbb31f1d9f54fb229019653d2b7f3a783a1","sha":"ea8f3cbb31f1d9f54fb229019653d2b7f3a783a1"},"comment_count":0},"author":{"login":"MikelSage","id":26507085,"avatar_url":"https://avatars0.githubusercontent.com/u/26507085?v=4","gravatar_id":"","url":"https://api.github.com/users/MikelSage","html_url":"https://github.com/MikelSage","followers_url":"https://api.github.com/users/MikelSage/followers","following_url":"https://api.github.com/users/MikelSage/following{/other_user}","gists_url":"https://api.github.com/users/MikelSage/gists{/gist_id}","starred_url":"https://api.github.com/users/MikelSage/starred{[...]
